/* @font-face {
    font-family: "Lucida console";
  } */
* {
  font-family: "Lucida console";
  font-weight: 700;
}

/* colors */
.secondary {
  color: #f5deb3;
}
.primary {
  color: #c7b081;
}

/* bigger devices style*/
@media screen and (min-width: 734px) {
  body {
    background: #262833;
    height: 100vh;
  }
  nav {
    display: flex;
    align-items: center;

    padding: 18px 0;
  }
  .nav {
    width: 73%;
    margin: auto;
    margin-bottom: 0;
    /* margin-top: 8%; */
    display: flex;
    align-items: center;
  }
  .nav-head {
    /* margin-left: 15%; */
    font-family: cursive;
    font-size: 32px;
  }
  .nav-link {
    font-weight: 400;
    font-size: 19px;
    margin-left: auto;
    padding: 5px 20px;
  }
  .nav-link:last-child {
    margin-left: 1%;
    margin-right: 3.5%;
  }
  .nav-link:hover {
    border-bottom: #f5deb3 solid 3px;
  }
  .cont {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    width: 83.5%;
    /* background-color: #ffffff; */
    padding: 10% 0;
    /* border-radius: 20px; */
  }
  .text-cont {
    max-width: 70%;
    padding-top: 4%;
    font-size: 21px;
  }
  .header {
    letter-spacing: 5px;
    padding-bottom: 1%;
    font-size: 80px;
    line-height: 80px;
    font-family: "Oleo Script Swash Caps", cursive;
    font-weight: 700;
  }
  .lower-header {
    letter-spacing: 5px;
    font-size: 24px;
  }
  .text-content {
    margin-top: 20px;
    font-weight: 400;
    line-height: 29px;
    font-family: Menlo, Monaco, "Lucida Console", "Liberation Mono",
      "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Courier New", monospace;
  }
  .socials {
    padding-top: 10px;
  }
  .image-sect {
    width: 30%;
  }
  .fa-brands:first-child {
    margin-left: 0;
  }
  .fa-brands {
    font-size: 32px;
    line-height: 1px;
    font-weight: 400;
    margin: 0 10px;
  }
  
  footer {
    margin: 0 auto;
    text-align: center;
    font-weight: 400;
    font-size: 21px;
  }
  footer>* {
    font-weight: 400;
    line-height: 29px;
    font-family: Menlo, Monaco, "Lucida Console", "Liberation Mono",
      "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Courier New", monospace;
  }
  .heart{
    color: #ed2e2e;
    font-style: italic;
    font-size: 21px;
    /* font-weight: 900; */
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
  #year{
    justify-content: center;
    display: flex;
    font-size: 21px;
    font-weight: 400;
    font-family: cursive;
  }
}
/* Bigger device style ends */

/* small devices style*/
@media only screen and (max-width: 734px) {
  body {
    background: #262833;
    margin: 0;
  }
  nav {
    display: flex;
    align-items: center;

    padding: 18px 0;
  }
  .nav {
    width: 92%;
    margin: auto;
    margin-bottom: 0;
    /* margin-top: 8%; */
    display: flex;
    align-items: center;
  }
  .nav-head {
    /* margin-left: 15%; */
    font-family: cursive;
    font-size: 32px;
  }
  .nav-link {
    font-weight: 400;
    font-size: 12px;
    margin-left: auto;
    padding: 7px 10px;
  }
  .nav-link:last-child {
    margin-left: 1%;
    margin-right: 3.5%;
  }
  .nav-link:hover {
    border-bottom: #f5deb3 solid 3px;
  }

  .cont {
    width: 83%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10%;
    /* height: 100%; */
  }
  .text-cont {
    padding-top: 4%;
    font-size: 16px;
  }
  .header {
    letter-spacing: 3px;
    padding-bottom: 1%;
    font-size: 56px;  
    line-height: 56px;
    font-family: "Oleo Script Swash Caps", cursive;
    font-weight: 700;
  }
  .lower-header {
    letter-spacing: 5px;
    font-size: 14px;
    font-weight: 600;
  }
  .text-content {
    margin-top: 20px;
    font-weight: 400;
    line-height: 29px;
    font-family: Menlo, Monaco, "Lucida Console", "Liberation Mono",
      "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Courier New", monospace;
  }
  .socials {
    padding-top: 10px;
  }
  .image-sect {
    display: none;
  }
  .fa-brands:first-child {
    margin-left: 0;
  }
  .fa-brands {
    font-size: 32px;
    line-height: 1px;
    font-weight: 400;
    margin: 0 10px;
  }
  footer {
    margin: 0 auto;
    width: 92%;
    font-weight: 400;
    font-size: 21px;
  }
  footer>* {
    font-weight: 400;
    line-height: 29px;
    font-family: Menlo, Monaco, "Lucida Console", "Liberation Mono",
      "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Courier New", monospace;
  }
  .heart{
    color: #ed2e2e;
    font-style: italic;
    font-size: 21px;
    /* font-weight: 900; */
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
  #year{
    justify-content: center;
    display: flex;
    font-size: 21px;
    font-weight: 400;
    font-family: cursive;
  }
}
/* small device style ends */
